
body {
    background-color: #0e0e0e;
    color: white;
    width: 100%;
    height: 100%;
}

canvas { 
    width: 100%; 
    height: 100%;
    box-shadow: 0px 0px 5px black;
}

div#canvascontainer {
    width: fit-content;
    max-width: fit-content;
}

#outcontainer {
    overflow-x: scroll;
    width: 100%;
    background-color: black;
    overflow: hidden;
    max-width: 1px;
    max-height: 1px;
}

#outcontent {
    color: black;
}

#outcontent table, th, td {
    border: thin solid lightslategray;
    border-spacing: 0;
}

button {
    margin: 2pt;
    text-align: center;
    display: block;
}

#controls {
    text-align: center;
}

#layout {
    display: flex;
    flex-direction: column;
}

.side {
    min-height: 120px;
    text-align: center;
    padding: 3pt;
}

.center {
    min-height: 200px;
}

@media (min-width: 600px) and (orientation:landscape) {
    #layout {
        flex-direction: row;
    }
    .side {
        min-width: 260px;
    }
    .center {
        flex-basis: 100%;
    }
}

.spacer {
    width: 10pt;
    height: 10pt;
    background-color: transparent;
}

@media screen and (orientation:landscape) {
    .side {
        font-size: 3vh;
    }
    button {
        font-size: 5vh;
        display: block;
    }
    .spacer {
        display: block;
    }
}

@media screen and (orientation:portrait) {
    .side {
        font-size: 3vw;
    }
    button {
        font-size: 5vw;
        display: inline-block;
    }
    .spacer {
        display: inline-block;
    }
}

.bigtext {
    font-size: 150%;
    font-weight: bold;
    color: yellow;
}

.notetext {
    font-size: 70%;
}

.keytext {
    color: lightskyblue;
    font-weight: bold;
}

.hidden {
    display: none;
}

.hidden > .spacer {
    display: none;
}